/* Global Settings */

:root {
    --mdui-color-primary: 52, 130, 255;
    --mdui-color-primary-light: 52, 130, 255;
    --mdui-color-primary-dark: 52, 130, 255;
    --mdui-color-background: #FFFFFF;
    --mdui-color-background-light: #FFFFFF;
    --mdui-color-background-dark: #000000;
    --mdui-opacity-primary: 1.0;
    --mdui-opacity-primary-dark: 1.0;
}

body {
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: var(--mdui-color-background-light);
}

@media (prefers-color-scheme: dark) {
    body {
        color: #A0A0A0;
        background-color: var(--mdui-color-background-dark); /* 深色模式下使用深色背景 */
    }
}

.mdui-container {
    background-color: var(--mdui-color-background-light);
}

@media (prefers-color-scheme: dark) {
    .mdui-container {
        background-color: var(--mdui-color-background-dark);
    }
}

.foo {
  background-color: rgb(var(--mdui-color-primary-light));
}

@media (prefers-color-scheme: dark) {
    .foo {
        background-color: rgb(var(--mdui-color-primary-dark));
    }
}

.bar {
  background-color: rgba(var(--mdui-color-primary-light), 1.0);
}

@media (prefers-color-scheme: dark) {
    .bar {
        background-color: rgba(var(--mdui-color-primary-dark), 1.0);
    }
}

mdui-button-icon svg {
    color: #000000;
}

@media (prefers-color-scheme: dark) {
    mdui-button-icon svg {
        color: #FFFFFF;
    }
}

/* Title bar */

.title-block {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
}

.title-block-text {    
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Title bar's buttons */

.top_buttons_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

/* Status card */ 

.status-card {
    display: flex;
    flex-direction: row;
    background-color: rgb(var(--mdui-color-primary));
    color: #FFFFFF;
    gap: 12px;
    padding: 18px;
    margin: 0 auto;
    margin-top: -3px;
    width: 98%;
}

@media (prefers-color-scheme: dark) {
    .status-card {
        background-color: rgb(var(--mdui-color-primary-dark));
    }
}

.status-card svg path {
    fill: #FFFFFF;
}

/* Device Info card */ 

.sysinfo-card {
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    color: #000000;
    gap: 12px;
    padding: 18px;
    margin: 0 auto;
    margin-top: -5px;
    width: 98%;
}

@media (prefers-color-scheme: dark) {
    .sysinfo-card {
        background-color: #2F2F2F;
        color: #DFDFDF;
    }
}

.status-card svg path {
    fill: #FFFFFF;
}

/* Normal title style */

.title_block {
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

/* Normal title text style */

.title_text {
    font-size: 24px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: 600;
    color: #777;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Normal switch style */

.switch_container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 97%;
    margin: 0 auto;
}

.switch_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.switch_item span {
    text-align: left;
    flex-grow: 1;
    padding: 6px;
}

.switch_item mdui-switch {
    margin-left: auto;
}

.switch_item mdui-text-field {
    width: 100px;
    max-width: 150px;
    height: 35px;
    max-height: 45px;
}

/* Normal button style */

.buttons {
    display: flex;
    color:#FFFFFF;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.button-group-left {
  display: flex;
  gap: 10px;
}
  
.button-group-right {
  display: flex;
  gap: 10px;
}

